In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv("../csv/ChiralMaps6kEData.csv")
data.replace(np.nan, '', regex=True)

/var/folders/5c/_0tgkjqd0xxgkybrf986ybm80000gn/T/ipykernel_10401/533246249.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("../csv/ChiralMaps6kEData.csv")

,ID,genus,p,q,r,solv?,|V|,|E|,|F|,v-mult,...,self,Du,Mir,DuMir,|Zq*:Exp|,Hj,plt,plh,Sk,PlhSk
0,CM[10;1],1,4,4,10,S,5,10,5,1,...,Du,CM[10;1],CM[10;2],CM[10;2],2,3:2,Y,N,Sk(5;2),
1,CM[10;2],1,4,4,10,S,5,10,5,1,...,Du,CM[10;2],CM[10;1],CM[10;1],2,3:1,Y,N,Sk(5;2),
2,CM[20;1],1,4,4,10,S,10,20,10,1,...,Du,CM[20;1],CM[20;2],CM[20;2],2,3:2,Y,Y,Sk(10;3),PlhSk(10;2)
3,CM[20;2],1,4,4,10,S,10,20,10,1,...,Du,CM[20;2],CM[20;1],CM[20;1],2,3:1,Y,Y,Sk(10;3),PlhSk(10;2)
4,CM[21;1],1,3,6,14,S,7,21,14,1,...,none,CM[21;4],CM[21;2],CM[21;3],2,5:2,Y,Y,Sk(7;2),PlhSk(7;1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462567,CM[6000;3480],2985,750,750,4,S,16,6000,16,50,...,DuMir,CM[6000;3479],CM[6000;3479],CM[6000;3480],2,127:3479 251:3479,N,N,,
462568,CM[6000;3481],2991,1200,1200,10,S,10,6000,10,300,...,Du,CM[6000;3481],CM[6000;3482],CM[6000;3482],2,751:3482,N,N,,
462569,CM[6000;3482],2991,1200,1200,10,S,10,6000,10,300,...,Du,CM[6000;3482],CM[6000;3481],CM[6000;3481],2,751:3481,N,N,,
462570,CM[6000;3483],2991,1200,1200,20,S,10,6000,10,300,...,Du,CM[6000;3483],CM[6000;3484],CM[6000;3484],2,751:3484,N,N,,
462571,CM[6000;3484],2991,1200,1200,20,S,10,6000,10,300,...,Du,CM[6000;3484],CM[6000;3483],CM[6000;3483],2,751:3483,N,N,,

In [16]:
def build_pages_for_dataset(csv_file, dataset_name, dataset_title, max_rows=10000,):
    data=pd.read_csv(f"../csv/{csv_file}.csv")
    data.replace(np.nan, '', regex=True)
    
    build_tables_from_csv(data,max_rows,dataset_name,dataset_title)
    if not os.path.exists(f'../_datasets/{dataset_name}.md'): #only runs if the file does not exists, to avoid overwriting
        build_dataset_page(dataset_name,dataset_title)
    

def build_tables_from_csv(data,max_rows,dataset_name,dataset_title):
    data_split_list=[]
    for i in range(len(data)//max_rows):
        data_split_list.append(data.iloc[max_rows*i:max_rows*(i+1)])
    data_split_list.append(data.iloc[max_rows*(len(data)//max_rows):])

    for i in range(len(data_split_list)):
        frontmatter=f'---\nlayout: default\ndataset: {dataset_name}\ndataset_title: {dataset_title}\nfirst_entry: {data_split_list[i].iat[0,0]}\nlast_entry: {data_split_list[i].iat[-1,0]}\n---\n\n'
        html=data_split_list[i].to_html(index=False)
        html=html.replace('border="1"', 'id="myTable"')
        html=html.replace('class="dataframe"','class="display compact" style="width=100%"')
        html=html.replace('style="text-align: right;"','')
        with open(f'../_tables/{dataset_name}{i}.md', 'w') as md_file:
            md_file.write(frontmatter)
            md_file.write(f"The following table contains the entries from {{{{ page.first_entry }}}} to {{{{ page.last_entry }}}} of the dataset of [{{{{ page.dataset_title }}}}]( /datasets/{dataset_name} ).\n ")
            md_file.write(html)

def build_dataset_page(dataset_name,dataset_title):
    with open(f'../_datasets/{dataset_name}.md', 'w') as dataset_md:             
        md_text=f"--- \nlayout: page\ntitle: {dataset_title}\n---\n"
        md_text=md_text+f"### Tables \n<ol>\n{{% for post in site.tables %}}\n  {{% if post.dataset == '{dataset_name}' %}}\n <li> A <a href= \"{{{{ site.url }}}}{{{{ post.url | relative_url }}}}\" > table </a> containing the entries from {{{{ post.first_entry }}}} to {{{{ post.last_entry }}}} </li>\n{{% endif %}}{{% endfor %}} \n </ol>\n\n\n### Resources"
        dataset_md.write(md_text)

In [10]:
build_pages_for_dataset("ChiralMaps6kEData","chiralMaps6kE", "Chiral maps up to 6000 edges")

/var/folders/5c/_0tgkjqd0xxgkybrf986ybm80000gn/T/ipykernel_10401/537020394.py:2: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(f"../csv/{csv_file}.csv")

In [6]:
dataset_name="RegularMaps3kEdges"
frontmatter=f'---\n layout: default\n dataset: {dataset_name}\n---\n'
prehtml=""

for i in range(len(data_split_list)):
    html=data_split_list[i].to_html(index=False)
    html=html.replace('border="1"', 'id="myTable"')
    html=html.replace('class="dataframe"','class="display compact" style="width=100%"')
    html=html.replace('style="text-align: right;"','')
    with open(f'../_tables/{dataset_name}{i}.md', 'w') as md_file:
        md_file.write(frontmatter)
        md_file.write(html)

In [11]:
dataset_name='chiralMaps6kE'

In [15]:
os.path.exists(f'../_datasets/{dataset_name}.md')

True