In [3]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("../csv_files/RegularMaps3kEData.csv")
data.replace(np.nan, '', regex=True)

/var/folders/5c/_0tgkjqd0xxgkybrf986ybm80000gn/T/ipykernel_90487/2767289877.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("../csv_files/RegularMaps3kEData.csv")

,ID,genus,O/N,p,q,r,solv,|V|,|E|,|F|,...,Pe,Op,Tr,iT,|Zq*:Exp|,Hj,plt,plh,Sk,PlhSk
0,RM[2;1],0,O,2,2,2,S,2,2,2,...,RM[2;1],RM[2;1],RM[2;1],RM[2;1],1,,Y,N,Sk(2;1)^2,
1,RM[2;2],1,O,4,4,2,S,1,2,1,...,RM[2;3],RM[2;4],RM[2;3],RM[2;4],1,,N,N,Sk(1;1)^2,
2,RM[2;3],1,N,2,4,4,S,1,2,2,...,RM[2;2],RM[2;3],RM[2;4],RM[2;2],1,,N,N,Sk(1;1)^2,
3,RM[2;4],1,N,4,2,4,S,2,2,1,...,RM[2;4],RM[2;2],RM[2;2],RM[2;3],1,,N,N,Sk(2;1)^2,
4,RM[3;1],0,O,2,3,6,S,2,3,3,...,RM[3;4],RM[3;5],RM[3;6],RM[3;3],1,,Y,N,Sk(2;1)^3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257104,RM[3000;1448],1982,N,300,6,300,N,1000,3000,20,...,RM[3000;1448],RM[3000;1208],RM[3000;1208],RM[3000;1400],1,,Y,N,,
257105,RM[3000;1449],1486,N,375,4,375,S,1500,3000,16,...,RM[3000;1449],RM[3000;1215],RM[3000;1215],RM[3000;1401],1,,Y,N,,
257106,RM[3000;1450],1498,N,1500,4,1500,S,1500,3000,4,...,RM[3000;1450],RM[3000;1250],RM[3000;1250],RM[3000;1406],1,,Y,N,,
257107,RM[3000;1451],1498,N,1500,4,1500,S,1500,3000,4,...,RM[3000;1451],RM[3000;1251],RM[3000;1251],RM[3000;1407],1,,Y,N,,
257108,RM[3000;1452],1,N,6000,2,6000,S,3000,3000,1,...,RM[3000;1452],RM[3000;1258],RM[3000;1258],RM[3000;1408],1,,N,N,,

In [9]:
data.iat[0,0];
data.iat[-1,0]

'RM[3000;1452]'

In [4]:
def build_pages_for_dataset(csv_file, dataset_name, dataset_title, max_rows=10000,):
    data=pd.read_csv(f"../csv_files/{csv_file}.csv")
    data.replace(np.nan, '', regex=True)
    
    build_tables_from_csv(data,max_rows,dataset_name,dataset_title)
    if not os.path.exists('../_datasets/{dataset_name}.md'): #only runs if the file does not exists, to avoid overwriting
        build_dataset_page(dataset_name,dataset_title)
    

def build_tables_from_csv(data,max_rows,dataset_name,dataset_title):
    data_split_list=[]
    for i in range(len(data)//max_rows):
        data_split_list.append(data.iloc[max_rows*i:max_rows*(i+1)])
    data_split_list.append(data.iloc[max_rows*(len(data)//max_rows):])

    for i in range(len(data_split_list)):
        frontmatter=f'---\nlayout: default\ndataset: {dataset_name}\ndataset_title: {dataset_title}\nfirst_entry: {data_split_list[i].iat[0,0]}\nlast_entry: {data_split_list[i].iat[-1,0]}\n---\n\n'
        html=data_split_list[i].to_html(index=False)
        html=html.replace('border="1"', 'id="myTable"')
        html=html.replace('class="dataframe"','class="display compact" style="width=100%"')
        html=html.replace('style="text-align: right;"','')
        with open(f'../_tables/{dataset_name}{i}.md', 'w') as md_file:
            md_file.write(frontmatter)
            md_file.write(f"The following table contains the entries from {{{{ page.first_entry }}}} to {{{{ page.last_entry }}}} of the dataset of [{{{{ page.dataset_title }}}}]( /datasets/{dataset_name} ).\n ")
            md_file.write(html)

def build_dataset_page(dataset_name,dataset_title):
    with open(f'../_datasets/{dataset_name}.md', 'w') as dataset_md:             
        md_text=f"--- \nlayout: page\ntitle: {dataset_title}\n---\n"
        md_text=md_text+f"### Tables \n<ol>\n{{% for post in site.tables %}}\n  {{% if post.dataset == '{dataset_name}' %}}\n <li> A <a href= \"{{{{ site.url }}}}{{{{ post.url }}}}\" > table </a> containing the entries from {{{{ post.first_entry }}}} to {{{{ post.last_entry }}}} </li>\n{{% endif %}}{{% endfor %}} \n </ol>\n\n\n### Resources"
        dataset_md.write(md_text)

In [5]:
build_pages_for_dataset("CubicVTdata","cvtGraphs", "Cubic vertex-transitive graphs")

In [6]:
dataset_name="RegularMaps3kEdges"
frontmatter=f'---\n layout: default\n dataset: {dataset_name}\n---\n'
prehtml=""

for i in range(len(data_split_list)):
    html=data_split_list[i].to_html(index=False)
    html=html.replace('border="1"', 'id="myTable"')
    html=html.replace('class="dataframe"','class="display compact" style="width=100%"')
    html=html.replace('style="text-align: right;"','')
    with open(f'../_tables/{dataset_name}{i}.md', 'w') as md_file:
        md_file.write(frontmatter)
        md_file.write(html)

In [17]:
s

'### Tables \n<ol>\n{% for post in site.tables %}\n'