In [8]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv("../csv_files/ChiralMaps.csv")

In [6]:
data.replace(np.nan, '', regex=True)

,Name,|E|,g,p,q,grp,F-faith,E-faith,V-faith,Self,Dual,Mirror,DualMirror,Skeleton
0,CM[10;1],10,1,4,4,solv,True,True,True,Du,CM[10;1],CM[10;2],CM[10;2],Sk[5;1]
1,CM[10;2],10,1,4,4,solv,True,True,True,Du,CM[10;2],CM[10;1],CM[10;1],Sk[5;1]
2,CM[20;1],20,1,4,4,solv,True,True,True,Du,CM[20;1],CM[20;2],CM[20;2],Sk[10;2]
3,CM[20;2],20,1,4,4,solv,True,True,True,Du,CM[20;2],CM[20;1],CM[20;1],Sk[10;2]
4,CM[21;1],21,1,3,6,solv,True,True,True,none,CM[21;4],CM[21;2],CM[21;3],Sk[7;1]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122087,CM[3000;1114],3000,1485,375,375,solv,False,True,False,DuMir,CM[3000;1113],CM[3000;1113],CM[3000;1114],
122088,CM[3000;1115],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1115],CM[3000;1118],CM[3000;1118],
122089,CM[3000;1116],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1116],CM[3000;1117],CM[3000;1117],
122090,CM[3000;1117],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1117],CM[3000;1116],CM[3000;1116],
122091,CM[3000;1118],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1118],CM[3000;1115],CM[3000;1115],

25

In [39]:
max_rows=5000
data_split_list=[]
for i in range(len(data)//max_rows):
    data_split_list.append(data.iloc[max_rows*i:max_rows*(i+1)])
data_split_list.append(data.iloc[max_rows*(len(data)//max_rows):])

In [42]:
len(data_split_list)

25

In [41]:
data_split_list[-1]

,Name,|E|,g,p,q,grp,F-faith,E-faith,V-faith,Self,Dual,Mirror,DualMirror,Skeleton
120000,CM[2964;79],2964,989,12,12,solv,True,True,True,none,CM[2964;90],CM[2964;91],CM[2964;96],
120001,CM[2964;80],2964,989,12,12,solv,True,True,True,none,CM[2964;77],CM[2964;88],CM[2964;82],
120002,CM[2964;81],2964,989,12,12,solv,True,True,True,none,CM[2964;89],CM[2964;84],CM[2964;74],
120003,CM[2964;82],2964,989,12,12,solv,True,True,True,none,CM[2964;88],CM[2964;77],CM[2964;80],
120004,CM[2964;83],2964,989,12,12,solv,False,True,False,none,CM[2964;101],CM[2964;87],CM[2964;97],
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122087,CM[3000;1114],3000,1485,375,375,solv,False,True,False,DuMir,CM[3000;1113],CM[3000;1113],CM[3000;1114],
122088,CM[3000;1115],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1115],CM[3000;1118],CM[3000;1118],
122089,CM[3000;1116],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1116],CM[3000;1117],CM[3000;1117],
122090,CM[3000;1117],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1117],CM[3000;1116],CM[3000;1116],
122091,CM[3000;1118],3000,1491,600,600,solv,False,True,False,Du,CM[3000;1118],CM[3000;1115],CM[3000;1115],

In [44]:
frontmatter='---\n layout: default\n dataset: chirMaps\n---\n'
for i in range(len(data_split_list)):
    html=data_split_lists[i].to_html(index=False)
    html=html.replace('border="1"', 'id="myTable"')
    html=html.replace('class="dataframe"','class="display compact" style="width=100%"')
    html=html.replace('style="text-align: right;"','')
    with open(f'../_tables/chirMaps{i}.md', 'w') as md_file:
        md_file.write(frontmatter)
        md_file.write(html)

IndexError: list index out of range